<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>Live Auction Platform - JSP Pages</display-name>

  <servlet>
    <servlet-name>AuctionCertificate</servlet-name>
    <jsp-file>/auction-certificate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionCertificate</servlet-name>
    <url-pattern>/certificate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PaymentReceipt</servlet-name>
    <jsp-file>/payment-receipt.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentReceipt</servlet-name>
    <url-pattern>/receipt</url-pattern>
  </servlet-mapping>

</web-app>
